/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .container{
    width:100%;
    padding:10px;
  }
  .header-left .logo{
    margin-top:12px;
    padding:0;
  }

  footer{
    width:100%;
    text-align: center;
    display:block;
    height:200px;
  }
  .footer-left .logo{
    position: relative;
    left:40%;
  }
  .btn {
    width: 80%;
  }
  .top-wrapper {
    text-align: left;
  }
  header{
    width:100%;
  }
  header .bi-list {
    margin:10px;
    display:block;
  }
  .header-right {
    display:none;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 16px;
    line-height: 20px;
  }
  .person-wrapper{
    margin:5px;
  }
  .person{
    width:100%;
  }
}