* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width:100%;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}
.top-wrapper {
  padding: 100px 0;
  background-image: url("image/Gedung2.jpg");
  background-size: cover;
  color:white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 30px 0;
  padding: 20px:
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: green;
}

.facebook {
  background-color: orange;
}

.twitter {
  background-color: red;
}

.btn {
  padding: 20px;
  color:white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  width:400px;
  font-weight: bold;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}
header {
  height: 65px;
  width: 100%;
  background-color: rgba(22,177,181,0.8);
  position :fixed;
  top: 0;
  z-index: 10;
}
.logo {
  width: 225px;
  margin-top: 12px;
}
.header-left {
  float: left;
}
.header-left .logo {
  width: 150px;
  margin: 20px;
}

.header-right {
  float: right;
  /* margin-right: -25px; */
}
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}
.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

header .bi-list {
  color: white;
  font-size: 30px;
  float:right;
  display: none;
}

  /* Harvian Utomo */
*{
  margin:0;
  padding:0;
}
.person-wrapper{
  text-align: center;
  padding:5px;
}
.person{
  width:25%;
  display:inline-block;
  margin:5px;
  padding:10px;
  opacity:0.7;
  background:rgba(22,177,181,0.8);
  border-radius: 10px;
}
.person:hover{
  opacity: 1;
}
.person-photo img{
  width:50%;
  border-radius: 100%;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

footer {
  height: 65px;
  width: 100%;
  background-color: rgba(22,177,181,0.8);
  position:bottom;
  z-index: 10;
}

.footer-left {
  float: left;
  display:block;
}

.footer-left .logo{
  padding:10px;
  width:150px;
}

.footer-right {
  margin-top:5px;
  float: right;
  transition: all 0.5s;
  line-height: 30px;
  color: black;
  font-size: 15px;
}

.footer-left:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
